/**
 * @tableofcontents
 *
 * 1. dropdown
 * 2. menu
 * 3. redirect
 */

/** @section 1. dropdown */

.rs-fn-dropdown
{
	@extend %fn-dropdown;
}

/** @section 2. menu */

.rs-has-menu
{
	@extend %fn-has-menu;
}

.rs-fn-menu
{
	@extend %fn-menu;
}

.rs-fn-toggle-menu
{
	@extend %fn-toggle-menu;
}

.rs-fn-close-menu
{
	@extend %fn-close-menu;
}

.rs-fn-status-menu
{
	@extend %fn-status-menu;

	&:checked + .rs-has-menu
	{
		box-sizing: border-box;
		min-height: 100vh;
		padding-bottom: 5em;

		& .rs-fn-menu
		{
			@extend %fn-checked-menu;
		}

		& .rs-fn-close-menu
		{
			@extend %fn-checked-close-menu;
		}
	}
}

/** @section 3. redirect */

.rs-meta-redirect
{
	@extend %overlay-redirect;
}